:root {
  --purple: #865DFF;
  --pink: #E384FF;
  --black: #191825;
  --whiteP: #EAEAEA;
  
  --white: #f0f8ff;
  --gray: #312e47;
  --gray2: #545261;

  --purple2: #e8e1ff;
  --yellow: #F8F988;
}

::selection {
  background: var(--purple);
  color: var(--white);
}

body {
  height: 100%;
  background: var(--black);
  display: flex;
  justify-content: center;
}

.usersOn-container,
.messages .configButton,
.isTypingBar,
form #submitBtn,
form .imgLabel {
  transition: ease .3s;
}


.usersOn-container {
  background: var(--purple);
  color: var(--whiteP);
  display: flex;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  position: fixed;
  margin: .5rem;
  font-size: .8rem;
  font-weight: 700;
  opacity: .7;
  cursor: pointer;
  z-index: 1;
}

.usersOn-container:hover {
  opacity: 0;
}

#usersOn {
  padding-left: .4rem;
}

#messageForm {
  background: var(--whiteP);
  padding: 1rem;
  position: fixed;
  width: 100%;
  max-width: 800px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.isTypingBar {
  background: var(--whiteP);
  color: var(--black);
  font-weight: 500;
  text-align: center;
  position: fixed;
  width: 100%;
  padding: .3rem;
  top: 0;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
}

.typeHide {
  top: -2rem;
}

form #submitBtn,
form .imgLabel {
  padding: 1rem 2rem;
  background: var(--purple);
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  cursor: pointer;
}

form #submitBtn {
  border-top-left-radius: 0; 
  border-bottom-left-radius: 0; 
}
form .imgLabel {
  border-top-right-radius: 0; 
  border-bottom-right-radius: 0; 
}

form #submitBtn:hover {
  color: var(--black);
  background: var(--pink);
}

form #inputImg {
  display: none;
}

form .imgLabel {
  padding: 1rem 1.2rem;
  background: var(--black);
  box-shadow: none;
}

form .imgLabel i {
  padding-left: .3rem;
}

form .imgLabel:hover {
  background: var(--purple);
  color: var(--whiteP);
}

form #inputText {
  height: 3rem;
  width: 100%;
  height: 3.35rem;
  border: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  padding-bottom: .25rem;
  background: var(--black);
  color: var(--whiteP);
  outline: none;
}

main {
  width: 100%;
  max-width: 800px;
}

section {
  margin-top: 1rem;
  margin-bottom: 5.4rem;
  width: 100%;
}

.messages {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.messages li.you,
.messages li.stranger {
  background: var(--white);
  margin: 0 1rem;
  margin-bottom: 2rem;
  align-self: flex-end;
  padding: .9rem;
  border-radius: 1rem;
  border-top-right-radius: 0;
  font-size: 1.2rem;
  max-width: 65%;
  min-width: 4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.messages li.you > p,
.messages li.stranger > p {
  max-width: calc(100% - 1rem);
  white-space: break-spaces;
  word-wrap: break-word;
  align-self: flex-start;
  margin: 0 1rem;
  margin-left: .3rem;
}

.messages li.stranger:has(+li.stranger),
.messages li.you:has(+li.you) {
  margin-bottom: .5rem;
}

.messages li.stranger {
  border-radius: 1rem;
  border-top-left-radius: 0;
  align-self: flex-start;
  background: var(--purple2);
  color: var(--black);
}

.messages li .username {
  font-size: .8rem;
  padding-bottom: 0;
  font-weight: 800;
  text-shadow: 0px 0px 5px rgb(0, 0, 0, 0.2);
  color: var(--purple);
}

.messages li:has(.img) .username {
  padding-left: 1rem;
}

.messages .stranger .username {
  font-size: .8rem;
  font-weight: 800;
  color: #c11f1f;
  align-self: self-start;
  padding-right: 1rem;
}

.messages li .time {
  padding-top: .3rem;
  color: var(--gray);
  font-size: .7rem;
}

.messages li .time,
.messages li .username {
  padding-left: .3rem;
  padding-right: .3rem;
  align-self: self-start;
}

.messages .stranger .time {
  align-self: flex-end;
}

.messages .configButton {
  position: absolute;
  right: -2rem;
  color: var(--whiteP);
  opacity: .7;
  cursor: pointer;
  transform: scaleY(-1);
}

.messages .configButton:hover {
  opacity: 1;
}

.messages li.you .configButton {
  right: calc(100% + 1rem);
  transform: scaleY(1);
  rotate: 180deg;
}

.messages .img {
  margin: .5rem;
  width: 100%;
  max-width: 300px;
  max-height: 500px;
  border-radius: 1.5rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.messages .alert,
.messages .disconnect {
  background: var(--yellow);
  align-self: center;
  padding: .5rem 1.5rem;
  border-radius: 1rem;
  color: var(--gray);
  font-weight: 700;
  margin: 1rem 0;
}

.messages .disconnect {
  background: var(--gray);
  color: var(--pink);
}

img.emoji {
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 .15em 0 .15em;
  vertical-align: -0.1em;
}

@media screen and (max-width: 530px) {
  #messageForm {
    padding: 1rem .3rem;
  }
  .messages li.you,
  .messages li.stranger {
    max-width: 85%;
    margin: 0 .5rem;
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .messages .stranger .username {
    font-size: .7rem;
  }
  .messages li .time {
    font-size: .6rem;
  }
  form #submitBtn,
  form .imgLabel {
    padding: 1rem;
  }
  form .imgLabel {
    padding: 1rem;
  }
  form #inputText {
    font-size: 1rem;
    padding: 0 .5rem;
  }
}